@page
@using System
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Alaa Fathi ELSAWY</h1>
    <h1 class="display-4">@DateTime.Now.ToString("dddd,dd,MMMM,yyyy hh:mm tt")</h1>
</div>